In [9]:
import pandas as pd

In [11]:
df=pd.read_csv("data\gemstone.csv")

In [12]:
df.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [13]:
df.sample()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
149207,149207,1.12,Very Good,H,SI1,62.9,59.0,6.57,6.63,4.14,5355

missing value

In [14]:
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [16]:
df=df.drop(labels="id",axis=1)
df.head(2)

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387